/* Cascade Style Sheet to define a default style for kevinantonino.com */
/* This file based on 'Tranquille' by Dave Shea */

/* basic elements */
html {
	margin: 0;
	padding: 0;
	}

/* Body */
body { 
    padding: 0;
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
    background-color: rgb(192, 192, 192);
    text-align: center;
	}

.page-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 778px;
    min-height: 100%;
    padding: 5px;
    min-width: 778px;
    border-left: 2px solid #636363;
    border-right: 2px solid #636363;
    border-top: 2px solid #636363;
    padding-bottom: 150px;
    background-color: rgb(146, 169, 187);
    }

/* Banner */
header {
    width: 770px;
    height: 229px;
    background-image: url('Header.png');
    border: 2px solid #636363;
    background-size: cover;  
    background-position: center; 
    }

/* Text boxes */
p, h1{ 
	text-align: left;
    background-color: #ffefaade;
    border-left: 2px solid #636363;
    border-right: 2px solid #636363;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 0;
    margin-top: 0;
    }
p{
    font-size: small;
    border-bottom: 2px solid #636363;
    margin-top:0;
    font-style: italic;
    margin-bottom: 5px;
    }
h1{ 
    font-size: large;
    border-top: 2px solid #636363;
    border-bottom: 1px solid #636363;
    font-style: bold;
    }

/* Links */
a:link { 
    font-weight: bold; 
    text-decoration: none; 
    color: #B7A5DF;
    }
a:visited { 
    font-weight: bold; 
    text-decoration: none; 
    color: #D4CDDC;
    }
a:hover, a:focus, a:active { 
    text-decoration: underline; 
    color: #9685BA;
    }

.splitPage{
    display: flex; 
    margin-top: 5px;
    height: 100%;
}

.contentContainer{
    display: table;
    width:83%;
    justify-self: right;
    margin-left: 5px;
    height: 100%;
}

.menuContainer {
    justify-self: left;
    width: 17%;
    display: table;
}



