/* Cascade Style Sheet to define a default style for kevinantonino.com */
/* This file based on 'Tranquille' by Dave Shea */

/* basic elements */
html {
	margin: 0;
	padding: 0;
	}

/* Body */
body { 
    padding: 0;
	font: garamond;
	line-height: 1.5;
    background-color: rgb(192, 192, 192);
	background-image: url('textures/buried.png');
	}

.page-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
	min-width: 800px;
    min-height: 100%;
    padding: 5px;
    border: 7px ridge #636363;
    padding-bottom: 150px;
    background-color: #d1d7e4;
	background-image: url('textures/egg-shell.png');
    }

/* Banner */
header {
    width: auto;
    height: 230px;
    background-image: url('Header.png');
	border-right: 5px ridge #636363;
	border-bottom: 5px ridge #636363;
	border-top: 2px ridge #636363;
	border-left: 2px ridge #636363;
    background-size: cover;  
    background-position: center; 
    }

/* Text boxes */
p, h1, ul, h2{ 
	text-align: left;
	background-image: url('textures/egg-shell.png');
    border-left: 2px ridge #636363;
    border-right: 5px ridge #636363;
    margin-bottom: 0;
    margin-top: 0;
    }
p, ul{
	background-color: rgba(255, 255, 255, 0.7);
    font-size: small;
    border-bottom: 5px ridge #636363;
    margin-top:0;
    font-style: italic;
    margin-bottom: 5px;
    }
h1{ 
	background-color: rgba(255, 255, 255, 0.7);
    font-size: large;
    border-top: 2px ridge #636363;
    border-bottom: 1px solid #636363;
	padding-left: 8px;
	margin-top: 5px;
    }
h2 {
	background-color: rgba(255, 255, 255, 0.7);
    font-size: large;
	text-align: center;
    border-top: 2px ridge #636363;
	border-left: 2px ridge #636363;
    border-bottom: 5px ridge #636363;
	border-right: 5px ridge #636363;
    font-style: bold;
	padding-left: 8px;
	margin-top: 5px;
	letter-spacing: 10px;
	font-weight: lighter;
	line-height: 1.75;
	text-shadow: 2px 2px 5px grey;
	font-size: larger;
}	
p{
	padding-left: 8px;	
	}
ul{
	font-weight: bold;
	list-style-type: circle;
	padding-left: 25px;
	margin: 0;
}	

/* Links */
a:link { 
	font-weight: bold;
    text-decoration: none; 
    color: black;
    }
a:visited { 
	font-weight: bold;
    text-decoration: none; 
    color: black;
    }
a:hover, a:focus, a:active { 
	font-style: bold; 
    text-decoration: line-through; 
    color: #9685BA;
    }

/* Page Organization Containers */
.splitPage{
    display: flex; 
    height: 100%;
}
.contentContainer{
    display: table;
    width:83%;
    height: 100%;
	margin-left: 5px;
}
.menuContainer {
    width: 17%;
    display: table;
}



